[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fuzzywuzzy = {extras = ["speedup"], version = "*"}
google-api-python-client = "*"
"html2text" = "*"
google-cloud-texttospeech = "*"
speechrecognition = "*"
"pyttsx3" = "*"
"google-auth-httplib2" = "*"
google-auth-oauthlib = "*"
pyaudio = "*"
grpcio = "*"

[dev-packages]

[requires]
python_version = "3.6"
